<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Bootsteap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- custom style add -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container mt-4 border p-4 shadow-lg rounded">
        <div class="row text-center">
            <h1><%= title %></h1>
        </div>
        <div class="row">
            <!-- Input form runs on js script  -->
            <div class="mb-3">
                <label for="uri" class="form-label">Enter URI Link</label>
                <input type="text" class="form-control" id="uri">
            </div>
            <div class="mb-3">
                <label for="userInput" class="form-label">User Input Promt</label>
                <textarea class="form-control" id="userInput" rows="3"></textarea>
            </div>
            <button id="userInputSubmitBtn" type="button" class="btn btn-secondary col-2 ms-3">Submit</button>
        </div>
        <div class="row">
            <!-- Response will be put in this block -->
        </div>
    </div>

    <!-- app userside scripts -->
     <script>
        // Place where to pass variables to frontend script
        const APP_URI = "<%= APP_URI %>";
        const PORT = "<%= PORT %>";
        const AI_REQUEST_POST_ROUTE = "<%= AI_REQUEST_POST_ROUTE %>"
     </script>
    <script src="./js/index.js"></script>
</body>
</html>
